<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>abdullah mohamed</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/static/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Abdullah.</h1>
      <h2>a <span class="pro">pro</span>programer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile-img">
      <img src="static/images/abdullah.png" alt="abdullah-profile-img" 
          style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; background: none;">
      <h2>Hello.</h2>
        <p class="intro">the advanced programer using python. I ❤️ playing red alert.</p>
      </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started learning to code when I was 12 years old because I wanted to make my own video games. Over time, i became very advanced in mechine learning.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/the_et.png" alt="chillies-img" 
        style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; background: none;">



        <h3>monopoly deal challenge</h3>
        <p>But my best skill is actually playing monoploy deal i am very good at playing.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      
      <p class="contact-message">Love programin</p>
      <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/angela-yu-963a584b/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/yu_angela">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright">© 2025 abullah @ the programer.</p>
  </div>
</body>

</html>
